$def with(user)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>VManager</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="header"><div class="logo">VManager</div></div>
<div class="login">
	<div class="login_top">Change Password</div>
    	<div class="hr1"></div>
        	<div class="hr2"></div>
            	<div class="form_info">
                    <form method="post">
                    	UserName:
                        <input type="text" name="username" value=$user[0] />
                        New Password:
                        <input type="password" name="newpasswd"/>
                	<div class="hr1 hr1_1"></div>
        			<div class="hr2"></div>
                    	<div class="info_sub">
                           <input class="sign_in" type="submit" value="OK" />
                        </div>
                    </form>	
                    </div>
</div>
</body>
</html>
