$def with(post,username)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>VManager</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="../static/dialog.js"></script>
</head>
<body>
<div class="header">
	<div class="logo">VManager</div>
        <div id="username"><span  style="cursor:pointer;">$username<img src="../static/images/user_select.gif" /></span>
        <div class="org_box">
   		 <span class="org_bot_cor"></span>
    		<a href="/chguser/$username" style="font-size:14px">Change password</a>
            <a href="/logout" style="font-size:14px">Sign out</a>
		</div>
        </div>
        <div class="header_user"><img src="../static/images/user_img.gif" /></div>
</div>
<div class="main">
	<div class="left">
    	<span class="tspan">MAIN MENU</span>
        
        <a href="/home">
        	<img src="../static/images/home.png" />
            <p>Home</p>
        </a>
        <a href="/host">
        	<img src="../static/images/host.png" />
            <p>Host</p>
        </a>
        <span class="tspan">OPERATION</span>
        <a href="/adduser">
        	<img src="../static/images/adduser.png" />
            <p>Add User</p>
        </a>
        <a href="/deluser">
        	<img src="../static/images/deluser.png" />
            <p>Delete User</p>
        </a>
        <a href="/chguser">
        	<img src="../static/images/userinfo.png" />
            <p>Change UserInfo</p>
        </a>
		<a href="/logout">
        	<img src="../static/images/exit.png" />
            <p>Exit VManager</p>
        </a>
        
	</div>
	<div class="right">
    	<span class="tspan">User List</span>
        <div class="ldiv">
		    <span class="lspan">Name</span>
			<span class="lspan">Type</span>
			<span class="ltspan">RegistTime</span>
			<span class="lspan" style="visibility:hidden">Operation</span>
		</div>
		$for user in post:
		<div class="ldiv">
		    <span class="lspan"><a href="/chguser/$user[0]">$user[0]</a></span>
			<span class="lspan">$user[3]</span>
			<span class="ltspan">$user[2]</span>
		</div>
	</div>
</div><div class="footer"> Copyright <span style=" font-family:Arial, Helvetica, sans-serif;">&copy; </span>WangXingjun. All Rights Reserved.
</div>
</body>
</html>
